.settings
.project
musicstore_data/.settings
musicstore_data/target
musicstore_data/.classpath
musicstore_data/.project
musicstore_entities/.settings
musicstore_entities/target
musicstore_entities/.classpath
musicstore_entities/.project
musicstore_services/.settings
musicstore_services/target
musicstore_services/.classpath
musicstore_services/.project
musicstore_web/.settings
musicstore_web/target
musicstore_web/.classpath
musicstore_web/.project